/* Code Highlight Colour */
:root > * {
    --md-code-hl-color: #E4EAF6;
    /* --md-default-fg-color: #E4EAF6; */
}
/* Code Highlight Colour */


/* Twitter Icon Colour */
.twitter {
    color: #1DA1F2;
}
/* Twitter Icon Colour */


/* Heart Animation */
@keyframes heart {
    0%, 40%, 80%, 100% {
        transform: scale(1);
    }
    20%, 60% {
        transform: scale(1.15);
    }
}

.heart {
animation: heart 1000ms infinite;
color: red
}
/* Heart Animation */


/* Tabbed Content Styling */
.md-typeset .tabbed-labels>label code {
    color: var(--md-typeset-a-color);
}

.md-typeset .tabbed-labels>label code:hover {
    background-color: var(--md-accent-fg-color--transparent);
    color: var(--md-accent-fg-color);
}

.js .md-typeset .tabbed-labels:before {
    background:  var(--md-accent-fg-color);
}
/* Tabbed Content Styling */


/* Restore Admonitions Style */
/* .md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
} */
/* Restore Admonitions Style */


@media (max-width: 768px) {
    .language-text.highlight {
      padding-left: 15px;
      padding-right: 15px;
    }
}